@import url("mixins.less");

h3#comments{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Lato';
    font-weight: 300;
    color: @dark-blue;
    text-align: left;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 55px;
    background: rgba(0,0,0,0.05);
}

ol{ 
    }

ol li.comment{
    color: @dark-blue;
    padding: 10px 55px;
    font-size: 16px;

    font-weight: 300;
    &.odd{ background: darken(@almost-white, 2%);}

    .comment-body{
        p{ 
            margin: 10px 0px;
            font-size: 16px;
            line-height: 20px;
        }
        padding-top: 0;
        padding-bottom: 0;
    }

    .comment-header{
        p{ margin: 0;
        font-size: 18px;
        font-weight: 700;}
    }

    .comment-author{
        img, cite, span { display: inline;}
    }

    a{
        color: lighten(@dark-blue, 20%);
        font-weight: 500;
        text-decoration: underline;

        &:hover{ text-decoration: none; }
    }
}