@import url("mixins.less");

footer{
    background-color: @dark-blue;
    height: 50px;
    background-image: url('../images/hero-background.png');


    .social-icon-container{

        padding-right: 15px;

        .social-icon{
            width: 36px;
            height: 36px;
            margin-top: 7px;
            margin-bottom: 7px;
            margin-right: 5px;
            margin-left: 5px;
            opacity: 0.85;
            float: right;


            &:hover{
                opacity: 1;
            }

        }
    }

    h3{
        font-size: 30px;
        color: @almost-white;
        font-family: 'Lato', sans-serif;

    }
}