@import url("mixins.less");


.related-posts{ 
    h3{
        font-size: 20px;
        margin-top: 20px;
        font-family: 'Lato';
        font-weight: 300;
        color: @dark-blue;
        text-align: left;
        line-height: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 55px;
        background: rgba(0,0,0,0.05);
    }

    p{
        padding: 20px;
        margin: 0;

    }
}