@import url("mixins.less");

body{

   .main-content > div:last-child{
        margin-bottom: 50px;
    }

    .top-hero{
        position: relative;
        margin-top: -4px;
        margin-bottom: 0;
        padding-top: 80px;
        padding-bottom: 80px;


        &.thumbnail-is-present{
            .col-lg-12{ 
                padding: 10px 0px;}
        }

        .featured-image-container{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0.15;
            background-position: center center;
            background-size: cover;
        }

        .author-box{
            text-align: center;

            .author-text{ margin-top: 5px;
                margin-bottom: 5px;
                color: darken(@almost-white, 60%);
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                a{ color: @darker-blue}
               
                }
            img{
                margin-top: 6px;
                border-radius: 1000px;
            }

        }

        .main-title{
            margin-top: -5px;
        }

        .tags{
            text-align: center;
            text-transform: uppercase;
            color: darken(@almost-white, 40%);
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            .sep{ 
                display: inline;
                color: darken(@almost-white, 50%);
            }
            a{
                color: darken(@almost-white, 40%);
            }
        }

        .image-background{ 
            img{
            border: 6px solid @dark-blue;
            border-radius: 4px;
            }
            text-align: center;
        }



    }
}