@import url("mixins.less");

body.single{
    
   .article-body{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    font-family: 'Lato';
    color: @almost-white;
        h1,h2,h3,h4,h5,h6{
            margin-top: 10px;
            margin-bottom: 10px;
        }

    h1{
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
    }

    h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 35px;
    }

    h3{
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
    }

    h4{
        font-weight: 500;
        font-size: 28px;
        line-height: 30px;    }

    h5{
        font-weight: 300;
        font-size: 25px;
        line-height: 30px;
    }

    h6{
        font-weight: 300;
        font-size: 23px;
        line-height: 25px;
    }

    p{ margin-top: 5px;
        margin-bottom: 5px;}

    ol{
        padding-left: 40px;
        margin-bottom: 5px;
        margin-top: 5px;
        li{ list-style-type: decimal;
            font-weight: 300;
            position: relative;
        left: 40px;



            }
    }

    ul{

        li{
            list-style-type: circle;
            position: relative;
        left: 40px;

        }
    }

    blockquote{
        position: relative;
        margin: 0.25em 0;
        padding: 0.25em 40px;
    }

    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -0px;
        top: -20px;
        color: @almost-white;
    }

    cite:before {
        content: "\2014 \2009";
    }
    cite{
        padding-left: 40px;
        margin-top: 0;
        font-size: 16px;
        color: darken(@almost-white, 20%);
    }

    img{
        border: 2px solid darken(@almost-white,40%);
        border-radius: 0px;
        margin-bottom: 20px;
        margin-top: 20px;


        &.alignright{
            margin-left: 40px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        &.alignleft{
            margin-top: 0;
            margin-right: 40px;
            margin-bottom: 20px;
        }
    }

    
   }

   .main-content > div:last-child{
        margin-bottom: 50px;
    }

    .top-hero{
        position: relative;
        margin-top: -4px;
        margin-bottom: 0;
        padding-top: 70px;
        padding-bottom: 70px;

        &.thumbnail-is-present{
            .col-lg-12{ background-color: rgba(240,240,240,0.25);
                padding: 10px 0px;}
        }

        .featured-image-container{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0.2;
            background-position: center center;
            background-size: cover;
        }

        .author-box{
            text-align: center;
            .author-text{ margin-top: 5px;
                margin-bottom: 5px;
                color: darken(@almost-white, 60%);
                font-size: 17px;
                line-height: 20px;
                a{ color: @darker-blue}
               
                }
            img{
                margin-top: 6px;
                border-radius: 1000px;
            }

        }

        .main-title{
            margin-top: -5px;
        }

        .tags{
            text-align: center;
            text-transform: uppercase;
            color: darken(@almost-white, 40%);
            letter-spacing: 1px;
            font-size: 17px;
            line-height: 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            .sep{ 
                display: inline;
                color: darken(@almost-white, 50%);
            }
            a{
                color: darken(@almost-white, 40%);
            }
        }

        .image-background{ 
            img{
            border: 6px solid @dark-blue;
            border-radius: 4px;
            }
            text-align: center;
        }



    }
}